@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
  }
  
  .topnav {
    position: fixed;
    top:0;
    background-color:white;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    z-index: 10;
    border-bottom: 1px solid black;
  }
  
  .topnav a {
    display: block;
    color:black;
    text-align: center;
    padding: 18px 16px;
    width:100%;
    text-decoration: none;
    font-size: 17px;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
  
  .topnav a:hover {
    background-color: #ddd;
  }
  
  
  .topnav .icon {
    display: none;
  }

  .landing{
    position: relative;
    background-image: linear-gradient(to right, lightblue,rgb(100, 36, 119));
  }

  .landing > img{
      margin-left:10%;
      margin-right:10%;
      margin-top:5%;
      width:80%;
      max-height: 700px;
      filter: brightness(50%);
      border-radius: 20px;
  }

  .profile{
      height:80%;
      width:100%;
      top:20%;
      position:absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .profile > img{
      width: 30%;
      border-radius: 50%;
      border: 2px white solid;
      max-width: 300px;
      max-height: 300px;
  }

  .name{
      position:absolute;
      width:100%;
      bottom:0%;
      height:45%;
      background-color: white;
  }

  .links{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-top:30px;
      padding-bottom:30px;
      width:100%;
      font-size:2.5vw;
      font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
      text-transform: uppercase;
      color:black;
  }

  .rest{
      width:100%;
      height:1000px;
  }

  .resume{
      display:flex;
      margin-left: auto;
      margin-right: auto;;
      margin-top: 20px;
      width:60%;
  }

  .resume >iframe{
    width:100%;
    height:80vw;
  }

  .about{
      height:100%;
      margin-top:3%;
      display:flex;
      flex-direction: column;
      align-items:center;
  }

  .item{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
  }

  .section{
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:lightgrey;
      padding-top: 2%;
      padding-bottom: 2%;
      font-size: 2vw;
      font-family: 'Heebo', sans-serif;
      text-transform: uppercase;
  }

  .text{
      position: relative;
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: white;
      width:100%;
      font-family: 'Heebo', sans-serif;
      background-color:rgb(238, 238, 238);
  }

  .text > img{
      display: flex;
      width:30%;
      margin-right: auto;
  }

  .bio {
    display:flex;
    flex-direction: column;
    position: absolute;
    width:70%;
    height:100%;
    right:0;
  }

  .info{
    font-size: 1.5vw;;
    font-family: 'Heebo', sans-serif;
    padding:5%;
  }

  .icons{
      position:absolute;
      width:100%;
      display: flex;
      justify-content: space-evenly;
      bottom:0px;
  }

  .icons > a{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:rgb(167, 166, 166);
    text-decoration:none;
  }

  .icons > a > i {
    font-size:12vw;
  }

  .icons > a > p{
      color:rgb(167, 166, 166);
  }

  .icons > a:hover{
      color:black;
  }

  .timeline{
      width:100%;
      height:400px;
      position: relative;
      display:flex;
      flex-direction: column;
      align-items: center;
  }

  .line{
    position:absolute;
    height:100%;
    width:0px;
    border: 1px dashed black;
  }

  .point{
      position: absolute;
      height:10px;
      width:10px;
      background-color:white;
      z-index:5;
      border-radius: 50%;
      border: 3px solid black;
  }

  .timespot{
      right:0;
      width:100%;
      height:20%;
      position: relative;
      display: flex;
      justify-content:center;
      align-items: center;
  }

  .event{
      display:flex;
      align-items: center;
      width:50%;
      height:100%;
      margin-left:auto;
  }

  .event > p{
      padding-left:20px;
  }

  
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
        display:flex;
        margin-left:auto;
    }
    .fa{
        font-size:6vw;
    }
    .topnav a.icon:hover {
      color:grey;
      background-color: white;
    }
    .profile > img{
        width: 40%;
    }
    .name{
        height:40%;
    }
    .profile{
        top:30%;
    }
    .links{
        height:20%;
        font-size: 5vw;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive a {
      display: block;
    }
    .topnav.responsive a:first-child{
        margin-left:auto;
    }
    .topnav {
        flex-direction: column;
        width:100%;
    }
    .topnav a{
        width:auto;
    }
    .resume >iframe{
        height:150vw;
    }
    .resume{
        width:100%;
    }
    .info{
        font-size: 2.5vw;;
    }
    .icons > a > i {
        font-size:8vw;
    }

    @media screen and (max-width:400px){
        .profile{
            top:40%;
        }
    }
}