@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
  }
  
  .topnav {
    position: fixed;
    top:0;
    background-color:white;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    z-index: 1;
    border-bottom: 1px solid black;
  }
  
  .topnav a {
    display: block;
    color:black;
    text-align: center;
    width:100%;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
  }
  
  
  .topnav .icon {
    display: none;
  }

  .landing{
    position: relative;
  }

  .landing > img{
      width:100%;
      max-height: 700px;
      filter:grayscale(0%) brightness(50%);
      border-bottom: 2px solid black;

  }

  .profile{
      height:80%;
      width:100%;
      top:25%;
      position:absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .name{
    position:absolute;
    bottom:0;
    width: 100%;
    height:35%;
    border-top: 2px white solid;
    background-color: white;
  }

  .profile > img{
      width: 30%;
      border-radius: 50%;
      border: 2px white solid;
      max-width: 300px;
      max-height: 300px;
  }

  .links{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding:2%;
      width:100%;
      font-size:3vw;
      font-family: 'Heebo', sans-serif;
      text-transform: uppercase;
  }

  .links a:hover{
      color: #a2a7a2;
  }

  .rest{
      height:1000px;
  }

  .resume{
      display:flex;
      margin-left: auto;
      margin-right: auto;;
      margin-top: 20px;
      width:60%;
  }

  .resume >iframe{
    width:100%;
    height:80vw;
  }

  .about{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      background-color: rgb(231, 229, 229);
      padding-bottom: 100px;
  }

  .about > p{
      font-size: 30px;
  }

  .icons{
      background-color:white;
      display: flex;
      justify-content: space-evenly;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
        display:flex;
        margin-left:auto;
    }
    .fa{
        font-size:6vw;
    }
    .topnav a.icon:hover {
      color:grey;
      background-color: white;
    }
    .profile > img{
        width: 40%;
    }
    .links > a{
        font-size: 3vw;
    }
    .links{
        height:20%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive a {
      display: block;
    }
    .topnav.responsive a:first-child{
        margin-left:auto;
    }
    .topnav {
        flex-direction: column;
        width:100%;
    }
    .topnav a{
        width:auto;
    }
    .resume >iframe{
        height:150vw;
    }
    .resume{
        width:100%;
    }
}